
@{
    ViewBag.Title = "Error 404";
}

<style>
    .vertical-center {

    }
</style>

<div class="text-center" style="margin: 0; top: 50%; left: 50%; position: absolute; transform: translate(-50%, -50%);">
    <h1>Error 404</h1>
    <p>La página que solicitó no está disponible.</p>
</div>
