
@{
    ViewBag.Title = "Unknown Page";
}

<style>
    .vertical-center {
        margin: 0;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
</style>

<div class="text-center vertical-center">
    <h1>General Page Error</h1>
</div>

